<h1 id="tableLabel">Sanctioned Entities</h1>

<div class="d-flex justify-content-end mb-3">
  <a routerLink="/sanctioned-entities/add" class="btn btn-success">
    + Add Entity
  </a>
</div>

<ng-container *ngIf="entities$ | async as entities; else loading">
  <table
    class="table table-striped"
    aria-labelledby="tableLabel"
    *ngIf="entities$ | async as entities"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Domicile</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entity of entities">
        <td>{{ entity.name }}</td>
        <td>{{ entity.domicile }}</td>
        <td *ngIf="entity.accepted" class="text-success">Accepted</td>
        <td *ngIf="!entity.accepted" class="text-danger">Rejected</td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #loading>
  <p><em>Loading...</em></p>
</ng-template>
